
<a href="/home">HomePage</a>
<br>
<br>

<p> <%=@error1%> </p>

<h1>Create Routine</h1>

<form action="/routines" method="post">
  Routine Name:<input type="text" name="routine_name"><br>
  <br>
  Day Of The Week:
  <select name="routine_days">
  <option value=" "> </option>
  <option value="Sunday">Sunday</option>
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
</select>
  <br>
  <br>
  Routine:
  <br>
  <textarea name="routine_content" placeholder="Write routine here."></textarea>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
