<h1> Edit Routine </h1>

<form action="/routines/<%=@routine.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">

Routine Name:<%=@routine.routine_name%>
  <input type="text" name="routine_name">

  <br>
Routine Day:<%=@routine.routine_days%>
  <input type="text" name="routine_days">

  <br>

  Routine Content:<%=@routine.routine_content%>
  <input type="text" name="routine_content">


  <input type="submit" value="submit">
</form>
