<a href="/">Log In/Sign Up</a>
<br>
<br>

<h1> Log In </h1>

<form action="/login" method="post">
  <br>
  Username: <input type="text" name="username"><br>
  <br>
  Password: <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Submit">
</form>
